[submodule "vendor/pico-sdk"]
	path = vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "vendor/SNES_tests"]
	path = vendor/SNES_tests
	url = https://github.com/bbbradsmith/SNES_stuff.git
